<p>
  <strong>Тип вагона:</strong>
  <%= @passenger_car.car_type %>
</p>

<p>
  <strong>Вагон прицеплен к поезду:</strong>
  <% if @passenger_car.train.present?%>
    <%= @passenger_car.train.number %>
  <% else %>
    No train
  <% end %>
</p>

<%#= link_to t('common.back'), admin_train_passenger_cars_path %>
